<div class="container py-5" style="position: absolute; left: 42%;">
  <div class="card align-items-center" style="width: 18rem;">
    <img src="assets/img/TCS_Logo.jpg" class="card-img-top" alt="TCS Logo">
    <div class="card-body">
      <h5 class="card-title">Tata Consultancy Services (TCS)</h5>
      <p class="card-text">Click below to go to the company's website.</p>
    </div>
    <div class="card-body pt-0">
      <a href= "https://www.tcs.com" target="_blank" class="btn btn-primary">TCS</a>
    </div>
  </div>
</div>